*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  min-width: 700px;
  background-color: red;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
/*general features*/
.black{
  color: black;
}
.font_10{
  font-size: 2.2vh;
}
.grey{
  color: grey;
}
.marg_bot_3{
  margin-bottom: 3%;
}

/*wrapper*/
.wrapper{
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  background-color: yellow;
  display: flex;
  flex-direction: row;
}
/*container*/
.container{
  width: 70%;
  height: 100vh;
  background-color: orange;
  border: 2px solid black;
}
.widht_30{
  width: 30%;
}

/*general container-mini*/
.container-mini{
  width: 100%;
  height: 20%;
  background-color: white;
  display: flex;
  flex-direction: row;
}
.bt_blue{
  background-color: #24c1ed;
}

/*main*/
.main{
  width: 100%;
  height: 60%;
  overflow-y: scroll;
}
.btn_wts{
  background-image: url(../img/btn_wts.jpg);
  background-size: contain;
}

/*info-user*/
.info-user{
  width: 50%;
  height: 100%;
  background-color: #d7dbd8;
  display: flex;
  justify-content:space-between;
  align-items: center;

}
.width_97{
  width: 97%;
}
.width_100{
  width: 100%;
}
.height_40{
  height: 40px;
}
.border_bot_grey{
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
}
.btn_white{
  background-color: white;
}

/*img-user*/
.img-user{
  width: 15vh;
  margin: 3%;
  border-radius: 50%;
}
/*general-icons*/
.general-icons{
  color: grey;
  width: 20%;
  font-size: 5vh;
}
/*icon_bell*/
.icon_bell{
  font-size: 7vh;
  color: #24c1ed;
  text-align: center;
  vertical-align:middle;
  padding: 3%;
  margin: 3%;
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
  background-color: #afead4;
}
/*name-user*/
.name-user{
  padding:5%;
  color: grey;
}
/*chat-search*/
.input-search{
  width: 90%;
  height: 5vh;
  margin: 5%;
}
